server {
    listen 80;

    server_name {{ ansible_facts['nodename'] }};

    location / {
        proxy_pass http://{{ ansible_facts["eth0"]["ipv4"]["address"] }}:8080;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
}
